<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dinghy-watcher</title>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
<style>
table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
}
</style>
  </head>
  <body> 
   <script type="module" src="static/script.js"></script>

   <h1>Welcome to Watcher</h1>
   <style>
    table { 
      display: table;
      border-collapse: separate;
      border-spacing: 2px;
      border-color: blue;
    }
    </style>
   {% for i in range(responses|length) %}
   <table>
    <tr style="text-align: center">
      <td> {{ url[i] }} </td>
      <td> {{ responses[i] }} </td>
    </tr>
  </table>
   {% endfor %}
  

  </body>
</html>